In [6]:
import pandas as pd
pd.read_csv("covid vaccine-1.csv")

#comma seperated value
#commas are delimeter

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Total Doses Administered
0,South East,Abia,"3,727,347","61,152",25172,NaN
1,North East,Adamawa,"4,248,436","70,521",36302,NaN
2,South South,Akwa Ibom,"5,482,177","67,760",27174,NaN
3,South East,Anambra,"5,527,809","62,171",13874,NaN
4,North East,Bauchi,"6,537,314","98,409",43162,NaN
5,South South,Bayelsa,"2,277,961","31,800",9296,NaN
6,North Central,Benue,"5,741,815","107,094",60256,NaN
7,North East,Borno,"5,860,183","64,623",31878,NaN
8,South South,Cross Rivets,"3,866,269","99,813",51562,NaN
9,South South,&&&,"3,866,269",NaN,51562,NaN
10,South South,Delta,"5,663,362","88,631",24234,NaN
11,South East,Ebonyi,"2,880,383","46,696",18564,NaN
12,South South,Edo,"4,235,595","76,360",59780,NaN
13,South West,Ekiti,"3,270,798","108,118",47418,NaN
14,South West,XXXX,"230,900","47,000",5000,NaN
15,South East,Enugu,"4,411,119","69,626",9604,NaN
16,North Central,FCT,"3,564,126","254,088",34846,NaN
17,North East,Gombe,"3,256,962","92,502",17402,NaN
18,South East,)($,NaN,145,NaN,NaN
19,South East,Imo,"5,408,756","63,326",15582,NaN
20,North West,Jigawa,"5,828,163","80,145",44254,NaN
21,North West,Kaduna,"8,252,366","180,598",43512,NaN
22,North West,Kano,"15,076,892","184,448",67760,NaN
23,North West,Katsina,"7,831,319","110,522",45906,NaN
24,North West,Kebbi,"4,440,050","62,558",30590,NaN
25,North Central,Kogi,"4,473,490","45,537",16044,NaN
26,North Central,NaN,"4,567,888",78-00,44954,NaN
27,North Central,Kwara,"3,192,893","115,042",44954,NaN
28,South West,Lagos,"12,000,598","669,996",236222,NaN
29,North Central,Nassarawa,"2,523,395","81,416",40096,NaN
30,North Central,Niger,"5,556,247","95,799",46114,NaN
31,South West,Ogun,"5,217,716","191,969",81816,NaN
32,South West,Ondo,"4,671,695","100,249",74060,NaN
33,South West,Osun,"4,705,589","100,684",52934,NaN
34,South West,Oyo,"7,840,864","169,523",74970,NaN
35,North Central,Plateau,"4,200,442","103,275",27986,NaN
36,South South,Rivers,"7,303,924","121,889",46158,NaN
37,North Central,XXXX,"4,567,888",43,XXXXX,NaN
38,North West,Sokoto,"4,998,090","52,648",18004,NaN
39,North East,Taraba,"3,066,834","60,613",27034,NaN
40,North East,Yobe,"3,294,137","49,079",22778,NaN
41,North West,Zamfara,"4,515,427","68,517",32494,NaN

In [7]:
vaccine = pd.read_csv("covid vaccine-1.csv")

In [8]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Total Doses Administered
0,South East,Abia,"3,727,347","61,152",25172,NaN
1,North East,Adamawa,"4,248,436","70,521",36302,NaN
2,South South,Akwa Ibom,"5,482,177","67,760",27174,NaN
3,South East,Anambra,"5,527,809","62,171",13874,NaN
4,North East,Bauchi,"6,537,314","98,409",43162,NaN
5,South South,Bayelsa,"2,277,961","31,800",9296,NaN
6,North Central,Benue,"5,741,815","107,094",60256,NaN
7,North East,Borno,"5,860,183","64,623",31878,NaN
8,South South,Cross Rivets,"3,866,269","99,813",51562,NaN
9,South South,&&&,"3,866,269",NaN,51562,NaN
10,South South,Delta,"5,663,362","88,631",24234,NaN
11,South East,Ebonyi,"2,880,383","46,696",18564,NaN
12,South South,Edo,"4,235,595","76,360",59780,NaN
13,South West,Ekiti,"3,270,798","108,118",47418,NaN
14,South West,XXXX,"230,900","47,000",5000,NaN
15,South East,Enugu,"4,411,119","69,626",9604,NaN
16,North Central,FCT,"3,564,126","254,088",34846,NaN
17,North East,Gombe,"3,256,962","92,502",17402,NaN
18,South East,)($,NaN,145,NaN,NaN
19,South East,Imo,"5,408,756","63,326",15582,NaN
20,North West,Jigawa,"5,828,163","80,145",44254,NaN
21,North West,Kaduna,"8,252,366","180,598",43512,NaN
22,North West,Kano,"15,076,892","184,448",67760,NaN
23,North West,Katsina,"7,831,319","110,522",45906,NaN
24,North West,Kebbi,"4,440,050","62,558",30590,NaN
25,North Central,Kogi,"4,473,490","45,537",16044,NaN
26,North Central,NaN,"4,567,888",78-00,44954,NaN
27,North Central,Kwara,"3,192,893","115,042",44954,NaN
28,South West,Lagos,"12,000,598","669,996",236222,NaN
29,North Central,Nassarawa,"2,523,395","81,416",40096,NaN
30,North Central,Niger,"5,556,247","95,799",46114,NaN
31,South West,Ogun,"5,217,716","191,969",81816,NaN
32,South West,Ondo,"4,671,695","100,249",74060,NaN
33,South West,Osun,"4,705,589","100,684",52934,NaN
34,South West,Oyo,"7,840,864","169,523",74970,NaN
35,North Central,Plateau,"4,200,442","103,275",27986,NaN
36,South South,Rivers,"7,303,924","121,889",46158,NaN
37,North Central,XXXX,"4,567,888",43,XXXXX,NaN
38,North West,Sokoto,"4,998,090","52,648",18004,NaN
39,North East,Taraba,"3,066,834","60,613",27034,NaN
40,North East,Yobe,"3,294,137","49,079",22778,NaN
41,North West,Zamfara,"4,515,427","68,517",32494,NaN

In [9]:
vaccine.dtypes

Region                                 object
State                                  object
Total population                       object
Total Doses Administered (Astra)       object
Total Doses Administered (Moderna)     object
Total Doses Administered              float64
dtype: object

In [13]:
#remove the commma in the population and the total dose administered 
vaccine[["Total population","Total Doses Administered (Astra)"]]

   Total population Total Doses Administered (Astra)
0         3,727,347                           61,152
1         4,248,436                           70,521
2         5,482,177                           67,760
3         5,527,809                           62,171
4         6,537,314                           98,409
5         2,277,961                           31,800
6         5,741,815                          107,094
7         5,860,183                           64,623
8         3,866,269                           99,813
9         3,866,269                              NaN
10        5,663,362                           88,631
11        2,880,383                           46,696
12        4,235,595                           76,360
13        3,270,798                          108,118
14          230,900                           47,000
15        4,411,119                           69,626
16        3,564,126                          254,088
17        3,256,962                           92,502
18              NaN                              145
19        5,408,756                           63,326
20        5,828,163                           80,145
21        8,252,366                          180,598
22       15,076,892                          184,448
23        7,831,319                          110,522
24        4,440,050                           62,558
25        4,473,490                           45,537
26        4,567,888                            78-00
27        3,192,893                          115,042
28       12,000,598                          669,996
29        2,523,395                           81,416
30        5,556,247                           95,799
31        5,217,716                          191,969
32        4,671,695                          100,249
33        4,705,589                          100,684
34        7,840,864                          169,523
35        4,200,442                          103,275
36        7,303,924                          121,889
37        4,567,888                               43
38        4,998,090                           52,648
39        3,066,834                           60,613
40        3,294,137                           49,079
41        4,515,427                           68,517

In [14]:
vaccine["Total population"].str.replace(",","")

0      3727347
1      4248436
2      5482177
3      5527809
4      6537314
5      2277961
6      5741815
7      5860183
8      3866269
9      3866269
10     5663362
11     2880383
12     4235595
13     3270798
14      230900
15     4411119
16     3564126
17     3256962
18         NaN
19     5408756
20     5828163
21     8252366
22    15076892
23     7831319
24     4440050
25     4473490
26     4567888
27     3192893
28    12000598
29     2523395
30     5556247
31     5217716
32     4671695
33     4705589
34     7840864
35     4200442
36     7303924
37     4567888
38     4998090
39     3066834
40     3294137
41     4515427
Name: Total population, dtype: object

In [15]:
#using a regular expression

vaccine.pop("Total Doses Administered")

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
36   NaN
37   NaN
38   NaN
39   NaN
40   NaN
41   NaN
Name: Total Doses Administered, dtype: float64

In [16]:
# \w is used to remove all characters that are neither text nor numbers
# \w is used to remove all characters that are neither text and numbers

vaccine['Total population'].str.replace("\W","")

C:\Users\user\AppData\Local\Temp\ipykernel_6096\533630982.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  vaccine['Total population'].str.replace("\W","")

0      3727347
1      4248436
2      5482177
3      5527809
4      6537314
5      2277961
6      5741815
7      5860183
8      3866269
9      3866269
10     5663362
11     2880383
12     4235595
13     3270798
14      230900
15     4411119
16     3564126
17     3256962
18         NaN
19     5408756
20     5828163
21     8252366
22    15076892
23     7831319
24     4440050
25     4473490
26     4567888
27     3192893
28    12000598
29     2523395
30     5556247
31     5217716
32     4671695
33     4705589
34     7840864
35     4200442
36     7303924
37     4567888
38     4998090
39     3066834
40     3294137
41     4515427
Name: Total population, dtype: object

In [23]:
vaccine["State"].str.replace("\W","",regex=True)

#regex=True will remove the warning telling Pandas you are using a regular expression on the column

0            Abia
1         Adamawa
2        AkwaIbom
3         Anambra
4          Bauchi
5         Bayelsa
6           Benue
7           Borno
8     CrossRivets
9
10          Delta
11         Ebonyi
12            Edo
13          Ekiti
14           XXXX
15          Enugu
16            FCT
17          Gombe
18
19            Imo
20         Jigawa
21         Kaduna
22           Kano
23        Katsina
24          Kebbi
25           Kogi
26            NaN
27          Kwara
28          Lagos
29      Nassarawa
30          Niger
31           Ogun
32           Ondo
33           Osun
34            Oyo
35        Plateau
36         Rivers
37           XXXX
38         Sokoto
39         Taraba
40           Yobe
41        Zamfara
Name: State, dtype: object

In [20]:
#replacing the comma with an empty string (nothing)
#re-asign the values without the comma to the orignal dataframe

vaccine["Total population"]=vaccine["Total population"].str.replace(",","")
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,"61,152",25172
1,North East,Adamawa,4248436,"70,521",36302
2,South South,Akwa Ibom,5482177,"67,760",27174
3,South East,Anambra,5527809,"62,171",13874
4,North East,Bauchi,6537314,"98,409",43162
5,South South,Bayelsa,2277961,"31,800",9296
6,North Central,Benue,5741815,"107,094",60256
7,North East,Borno,5860183,"64,623",31878
8,South South,Cross Rivets,3866269,"99,813",51562
9,South South,&&&,3866269,NaN,51562
10,South South,Delta,5663362,"88,631",24234
11,South East,Ebonyi,2880383,"46,696",18564
12,South South,Edo,4235595,"76,360",59780
13,South West,Ekiti,3270798,"108,118",47418
14,South West,XXXX,230900,"47,000",5000
15,South East,Enugu,4411119,"69,626",9604
16,North Central,FCT,3564126,"254,088",34846
17,North East,Gombe,3256962,"92,502",17402
18,South East,)($,NaN,145,NaN
19,South East,Imo,5408756,"63,326",15582
20,North West,Jigawa,5828163,"80,145",44254
21,North West,Kaduna,8252366,"180,598",43512
22,North West,Kano,15076892,"184,448",67760
23,North West,Katsina,7831319,"110,522",45906
24,North West,Kebbi,4440050,"62,558",30590
25,North Central,Kogi,4473490,"45,537",16044
26,North Central,NaN,4567888,78-00,44954
27,North Central,Kwara,3192893,"115,042",44954
28,South West,Lagos,12000598,"669,996",236222
29,North Central,Nassarawa,2523395,"81,416",40096
30,North Central,Niger,5556247,"95,799",46114
31,South West,Ogun,5217716,"191,969",81816
32,South West,Ondo,4671695,"100,249",74060
33,South West,Osun,4705589,"100,684",52934
34,South West,Oyo,7840864,"169,523",74970
35,North Central,Plateau,4200442,"103,275",27986
36,South South,Rivers,7303924,"121,889",46158
37,North Central,XXXX,4567888,43,XXXXX
38,North West,Sokoto,4998090,"52,648",18004
39,North East,Taraba,3066834,"60,613",27034
40,North East,Yobe,3294137,"49,079",22778
41,North West,Zamfara,4515427,"68,517",32494

In [25]:
vaccine["State"]=vaccine["State"].str.replace("\W,","",regex=True)

vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,"61,152",25172
1,North East,Adamawa,4248436,"70,521",36302
2,South South,Akwa Ibom,5482177,"67,760",27174
3,South East,Anambra,5527809,"62,171",13874
4,North East,Bauchi,6537314,"98,409",43162
5,South South,Bayelsa,2277961,"31,800",9296
6,North Central,Benue,5741815,"107,094",60256
7,North East,Borno,5860183,"64,623",31878
8,South South,Cross Rivets,3866269,"99,813",51562
9,South South,&&&,3866269,NaN,51562
10,South South,Delta,5663362,"88,631",24234
11,South East,Ebonyi,2880383,"46,696",18564
12,South South,Edo,4235595,"76,360",59780
13,South West,Ekiti,3270798,"108,118",47418
14,South West,XXXX,230900,"47,000",5000
15,South East,Enugu,4411119,"69,626",9604
16,North Central,FCT,3564126,"254,088",34846
17,North East,Gombe,3256962,"92,502",17402
18,South East,)($,NaN,145,NaN
19,South East,Imo,5408756,"63,326",15582
20,North West,Jigawa,5828163,"80,145",44254
21,North West,Kaduna,8252366,"180,598",43512
22,North West,Kano,15076892,"184,448",67760
23,North West,Katsina,7831319,"110,522",45906
24,North West,Kebbi,4440050,"62,558",30590
25,North Central,Kogi,4473490,"45,537",16044
26,North Central,NaN,4567888,78-00,44954
27,North Central,Kwara,3192893,"115,042",44954
28,South West,Lagos,12000598,"669,996",236222
29,North Central,Nassarawa,2523395,"81,416",40096
30,North Central,Niger,5556247,"95,799",46114
31,South West,Ogun,5217716,"191,969",81816
32,South West,Ondo,4671695,"100,249",74060
33,South West,Osun,4705589,"100,684",52934
34,South West,Oyo,7840864,"169,523",74970
35,North Central,Plateau,4200442,"103,275",27986
36,South South,Rivers,7303924,"121,889",46158
37,North Central,XXXX,4567888,43,XXXXX
38,North West,Sokoto,4998090,"52,648",18004
39,North East,Taraba,3066834,"60,613",27034
40,North East,Yobe,3294137,"49,079",22778
41,North West,Zamfara,4515427,"68,517",32494

In [27]:
vaccine['Total Doses Administered (Astra)'].str.replace("\W","")

C:\Users\user\AppData\Local\Temp\ipykernel_6096\3994280494.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  vaccine['Total Doses Administered (Astra)'].str.replace("\W","")

0      61152
1      70521
2      67760
3      62171
4      98409
5      31800
6     107094
7      64623
8      99813
9        NaN
10     88631
11     46696
12     76360
13    108118
14     47000
15     69626
16    254088
17     92502
18       145
19     63326
20     80145
21    180598
22    184448
23    110522
24     62558
25     45537
26      7800
27    115042
28    669996
29     81416
30     95799
31    191969
32    100249
33    100684
34    169523
35    103275
36    121889
37        43
38     52648
39     60613
40     49079
41     68517
Name: Total Doses Administered (Astra), dtype: object

In [30]:
vaccine['Total Doses Administered (Astra)'] = vaccine['Total Doses Administered (Astra)'].str.replace("\W","")

C:\Users\user\AppData\Local\Temp\ipykernel_6096\3631136123.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  vaccine['Total Doses Administered (Astra)'] = vaccine['Total Doses Administered (Astra)'].str.replace("\W","")

In [31]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,61152,25172
1,North East,Adamawa,4248436,70521,36302
2,South South,Akwa Ibom,5482177,67760,27174
3,South East,Anambra,5527809,62171,13874
4,North East,Bauchi,6537314,98409,43162
5,South South,Bayelsa,2277961,31800,9296
6,North Central,Benue,5741815,107094,60256
7,North East,Borno,5860183,64623,31878
8,South South,Cross Rivets,3866269,99813,51562
9,South South,&&&,3866269,NaN,51562
10,South South,Delta,5663362,88631,24234
11,South East,Ebonyi,2880383,46696,18564
12,South South,Edo,4235595,76360,59780
13,South West,Ekiti,3270798,108118,47418
14,South West,XXXX,230900,47000,5000
15,South East,Enugu,4411119,69626,9604
16,North Central,FCT,3564126,254088,34846
17,North East,Gombe,3256962,92502,17402
18,South East,)($,NaN,145,NaN
19,South East,Imo,5408756,63326,15582
20,North West,Jigawa,5828163,80145,44254
21,North West,Kaduna,8252366,180598,43512
22,North West,Kano,15076892,184448,67760
23,North West,Katsina,7831319,110522,45906
24,North West,Kebbi,4440050,62558,30590
25,North Central,Kogi,4473490,45537,16044
26,North Central,NaN,4567888,7800,44954
27,North Central,Kwara,3192893,115042,44954
28,South West,Lagos,12000598,669996,236222
29,North Central,Nassarawa,2523395,81416,40096
30,North Central,Niger,5556247,95799,46114
31,South West,Ogun,5217716,191969,81816
32,South West,Ondo,4671695,100249,74060
33,South West,Osun,4705589,100684,52934
34,South West,Oyo,7840864,169523,74970
35,North Central,Plateau,4200442,103275,27986
36,South South,Rivers,7303924,121889,46158
37,North Central,XXXX,4567888,43,XXXXX
38,North West,Sokoto,4998090,52648,18004
39,North East,Taraba,3066834,60613,27034
40,North East,Yobe,3294137,49079,22778
41,North West,Zamfara,4515427,68517,32494

In [32]:
#dropna() drop any row that has NaN
#dropping, inserting, sorting, we use implace=True to make permanent to thedataframe

vaccine.dropna()

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,61152,25172
1,North East,Adamawa,4248436,70521,36302
2,South South,Akwa Ibom,5482177,67760,27174
3,South East,Anambra,5527809,62171,13874
4,North East,Bauchi,6537314,98409,43162
5,South South,Bayelsa,2277961,31800,9296
6,North Central,Benue,5741815,107094,60256
7,North East,Borno,5860183,64623,31878
8,South South,Cross Rivets,3866269,99813,51562
10,South South,Delta,5663362,88631,24234
11,South East,Ebonyi,2880383,46696,18564
12,South South,Edo,4235595,76360,59780
13,South West,Ekiti,3270798,108118,47418
14,South West,XXXX,230900,47000,5000
15,South East,Enugu,4411119,69626,9604
16,North Central,FCT,3564126,254088,34846
17,North East,Gombe,3256962,92502,17402
19,South East,Imo,5408756,63326,15582
20,North West,Jigawa,5828163,80145,44254
21,North West,Kaduna,8252366,180598,43512
22,North West,Kano,15076892,184448,67760
23,North West,Katsina,7831319,110522,45906
24,North West,Kebbi,4440050,62558,30590
25,North Central,Kogi,4473490,45537,16044
27,North Central,Kwara,3192893,115042,44954
28,South West,Lagos,12000598,669996,236222
29,North Central,Nassarawa,2523395,81416,40096
30,North Central,Niger,5556247,95799,46114
31,South West,Ogun,5217716,191969,81816
32,South West,Ondo,4671695,100249,74060
33,South West,Osun,4705589,100684,52934
34,South West,Oyo,7840864,169523,74970
35,North Central,Plateau,4200442,103275,27986
36,South South,Rivers,7303924,121889,46158
37,North Central,XXXX,4567888,43,XXXXX
38,North West,Sokoto,4998090,52648,18004
39,North East,Taraba,3066834,60613,27034
40,North East,Yobe,3294137,49079,22778
41,North West,Zamfara,4515427,68517,32494

In [35]:
#fillna()

#fillna()  fills empty NaN cells

vaccine.fillna(0,inplace=True)

In [36]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,61152,25172
1,North East,Adamawa,4248436,70521,36302
2,South South,Akwa Ibom,5482177,67760,27174
3,South East,Anambra,5527809,62171,13874
4,North East,Bauchi,6537314,98409,43162
5,South South,Bayelsa,2277961,31800,9296
6,North Central,Benue,5741815,107094,60256
7,North East,Borno,5860183,64623,31878
8,South South,Cross Rivets,3866269,99813,51562
9,South South,&&&,3866269,0,51562
10,South South,Delta,5663362,88631,24234
11,South East,Ebonyi,2880383,46696,18564
12,South South,Edo,4235595,76360,59780
13,South West,Ekiti,3270798,108118,47418
14,South West,XXXX,230900,47000,5000
15,South East,Enugu,4411119,69626,9604
16,North Central,FCT,3564126,254088,34846
17,North East,Gombe,3256962,92502,17402
18,South East,)($,0,145,0
19,South East,Imo,5408756,63326,15582
20,North West,Jigawa,5828163,80145,44254
21,North West,Kaduna,8252366,180598,43512
22,North West,Kano,15076892,184448,67760
23,North West,Katsina,7831319,110522,45906
24,North West,Kebbi,4440050,62558,30590
25,North Central,Kogi,4473490,45537,16044
26,North Central,0,4567888,7800,44954
27,North Central,Kwara,3192893,115042,44954
28,South West,Lagos,12000598,669996,236222
29,North Central,Nassarawa,2523395,81416,40096
30,North Central,Niger,5556247,95799,46114
31,South West,Ogun,5217716,191969,81816
32,South West,Ondo,4671695,100249,74060
33,South West,Osun,4705589,100684,52934
34,South West,Oyo,7840864,169523,74970
35,North Central,Plateau,4200442,103275,27986
36,South South,Rivers,7303924,121889,46158
37,North Central,XXXX,4567888,43,XXXXX
38,North West,Sokoto,4998090,52648,18004
39,North East,Taraba,3066834,60613,27034
40,North East,Yobe,3294137,49079,22778
41,North West,Zamfara,4515427,68517,32494

In [37]:
vaccine.dtypes

Region                                object
State                                 object
Total population                      object
Total Doses Administered (Astra)      object
Total Doses Administered (Moderna)    object
dtype: object

In [40]:
vaccine.replace(to_replace=["XXXXX","XXXX"], value=[0,0],inplace=True)

#replacing in the whole dataframe

In [41]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,61152,25172
1,North East,Adamawa,4248436,70521,36302
2,South South,Akwa Ibom,5482177,67760,27174
3,South East,Anambra,5527809,62171,13874
4,North East,Bauchi,6537314,98409,43162
5,South South,Bayelsa,2277961,31800,9296
6,North Central,Benue,5741815,107094,60256
7,North East,Borno,5860183,64623,31878
8,South South,Cross Rivets,3866269,99813,51562
9,South South,&&&,3866269,0,51562
10,South South,Delta,5663362,88631,24234
11,South East,Ebonyi,2880383,46696,18564
12,South South,Edo,4235595,76360,59780
13,South West,Ekiti,3270798,108118,47418
14,South West,0,230900,47000,5000
15,South East,Enugu,4411119,69626,9604
16,North Central,FCT,3564126,254088,34846
17,North East,Gombe,3256962,92502,17402
18,South East,)($,0,145,0
19,South East,Imo,5408756,63326,15582
20,North West,Jigawa,5828163,80145,44254
21,North West,Kaduna,8252366,180598,43512
22,North West,Kano,15076892,184448,67760
23,North West,Katsina,7831319,110522,45906
24,North West,Kebbi,4440050,62558,30590
25,North Central,Kogi,4473490,45537,16044
26,North Central,0,4567888,7800,44954
27,North Central,Kwara,3192893,115042,44954
28,South West,Lagos,12000598,669996,236222
29,North Central,Nassarawa,2523395,81416,40096
30,North Central,Niger,5556247,95799,46114
31,South West,Ogun,5217716,191969,81816
32,South West,Ondo,4671695,100249,74060
33,South West,Osun,4705589,100684,52934
34,South West,Oyo,7840864,169523,74970
35,North Central,Plateau,4200442,103275,27986
36,South South,Rivers,7303924,121889,46158
37,North Central,0,4567888,43,0
38,North West,Sokoto,4998090,52648,18004
39,North East,Taraba,3066834,60613,27034
40,North East,Yobe,3294137,49079,22778
41,North West,Zamfara,4515427,68517,32494

In [42]:
#converting the 3 columns to integars

vaccine[["Total population","Total Doses Administered (Astra)","Total Doses Administered (Moderna)"]].astype(int)

,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,3727347,61152,25172
1,4248436,70521,36302
2,5482177,67760,27174
3,5527809,62171,13874
4,6537314,98409,43162
5,2277961,31800,9296
6,5741815,107094,60256
7,5860183,64623,31878
8,3866269,99813,51562
9,3866269,0,51562
10,5663362,88631,24234
11,2880383,46696,18564
12,4235595,76360,59780
13,3270798,108118,47418
14,230900,47000,5000
15,4411119,69626,9604
16,3564126,254088,34846
17,3256962,92502,17402
18,0,145,0
19,5408756,63326,15582
20,5828163,80145,44254
21,8252366,180598,43512
22,15076892,184448,67760
23,7831319,110522,45906
24,4440050,62558,30590
25,4473490,45537,16044
26,4567888,7800,44954
27,3192893,115042,44954
28,12000598,669996,236222
29,2523395,81416,40096
30,5556247,95799,46114
31,5217716,191969,81816
32,4671695,100249,74060
33,4705589,100684,52934
34,7840864,169523,74970
35,4200442,103275,27986
36,7303924,121889,46158
37,4567888,43,0
38,4998090,52648,18004
39,3066834,60613,27034
40,3294137,49079,22778
41,4515427,68517,32494

In [44]:
vaccine[["Total population","Total Doses Administered (Astra)","Total Doses Administered (Moderna)"]] = vaccine[["Total population","Total Doses Administered (Astra)","Total Doses Administered (Moderna)"]].astype(int)

In [45]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna)
0,South East,Abia,3727347,61152,25172
1,North East,Adamawa,4248436,70521,36302
2,South South,Akwa Ibom,5482177,67760,27174
3,South East,Anambra,5527809,62171,13874
4,North East,Bauchi,6537314,98409,43162
5,South South,Bayelsa,2277961,31800,9296
6,North Central,Benue,5741815,107094,60256
7,North East,Borno,5860183,64623,31878
8,South South,Cross Rivets,3866269,99813,51562
9,South South,&&&,3866269,0,51562
10,South South,Delta,5663362,88631,24234
11,South East,Ebonyi,2880383,46696,18564
12,South South,Edo,4235595,76360,59780
13,South West,Ekiti,3270798,108118,47418
14,South West,0,230900,47000,5000
15,South East,Enugu,4411119,69626,9604
16,North Central,FCT,3564126,254088,34846
17,North East,Gombe,3256962,92502,17402
18,South East,)($,0,145,0
19,South East,Imo,5408756,63326,15582
20,North West,Jigawa,5828163,80145,44254
21,North West,Kaduna,8252366,180598,43512
22,North West,Kano,15076892,184448,67760
23,North West,Katsina,7831319,110522,45906
24,North West,Kebbi,4440050,62558,30590
25,North Central,Kogi,4473490,45537,16044
26,North Central,0,4567888,7800,44954
27,North Central,Kwara,3192893,115042,44954
28,South West,Lagos,12000598,669996,236222
29,North Central,Nassarawa,2523395,81416,40096
30,North Central,Niger,5556247,95799,46114
31,South West,Ogun,5217716,191969,81816
32,South West,Ondo,4671695,100249,74060
33,South West,Osun,4705589,100684,52934
34,South West,Oyo,7840864,169523,74970
35,North Central,Plateau,4200442,103275,27986
36,South South,Rivers,7303924,121889,46158
37,North Central,0,4567888,43,0
38,North West,Sokoto,4998090,52648,18004
39,North East,Taraba,3066834,60613,27034
40,North East,Yobe,3294137,49079,22778
41,North West,Zamfara,4515427,68517,32494

In [47]:
vaccine.dtypes

Region                                object
State                                 object
Total population                       int32
Total Doses Administered (Astra)       int32
Total Doses Administered (Moderna)     int32
dtype: object

In [49]:
vaccine["Total(Astra and Moderna)"] = ""

In [50]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Total(Astra and Moderna)
0,South East,Abia,3727347,61152,25172,
1,North East,Adamawa,4248436,70521,36302,
2,South South,Akwa Ibom,5482177,67760,27174,
3,South East,Anambra,5527809,62171,13874,
4,North East,Bauchi,6537314,98409,43162,
5,South South,Bayelsa,2277961,31800,9296,
6,North Central,Benue,5741815,107094,60256,
7,North East,Borno,5860183,64623,31878,
8,South South,Cross Rivets,3866269,99813,51562,
9,South South,&&&,3866269,0,51562,
10,South South,Delta,5663362,88631,24234,
11,South East,Ebonyi,2880383,46696,18564,
12,South South,Edo,4235595,76360,59780,
13,South West,Ekiti,3270798,108118,47418,
14,South West,0,230900,47000,5000,
15,South East,Enugu,4411119,69626,9604,
16,North Central,FCT,3564126,254088,34846,
17,North East,Gombe,3256962,92502,17402,
18,South East,)($,0,145,0,
19,South East,Imo,5408756,63326,15582,
20,North West,Jigawa,5828163,80145,44254,
21,North West,Kaduna,8252366,180598,43512,
22,North West,Kano,15076892,184448,67760,
23,North West,Katsina,7831319,110522,45906,
24,North West,Kebbi,4440050,62558,30590,
25,North Central,Kogi,4473490,45537,16044,
26,North Central,0,4567888,7800,44954,
27,North Central,Kwara,3192893,115042,44954,
28,South West,Lagos,12000598,669996,236222,
29,North Central,Nassarawa,2523395,81416,40096,
30,North Central,Niger,5556247,95799,46114,
31,South West,Ogun,5217716,191969,81816,
32,South West,Ondo,4671695,100249,74060,
33,South West,Osun,4705589,100684,52934,
34,South West,Oyo,7840864,169523,74970,
35,North Central,Plateau,4200442,103275,27986,
36,South South,Rivers,7303924,121889,46158,
37,North Central,0,4567888,43,0,
38,North West,Sokoto,4998090,52648,18004,
39,North East,Taraba,3066834,60613,27034,
40,North East,Yobe,3294137,49079,22778,
41,North West,Zamfara,4515427,68517,32494,

In [51]:
vaccine[["Total Doses Administered (Astra)","Total Doses Administered (Moderna)"]].sum(axis=1)

0      86324
1     106823
2      94934
3      76045
4     141571
5      41096
6     167350
7      96501
8     151375
9      51562
10    112865
11     65260
12    136140
13    155536
14     52000
15     79230
16    288934
17    109904
18       145
19     78908
20    124399
21    224110
22    252208
23    156428
24     93148
25     61581
26     52754
27    159996
28    906218
29    121512
30    141913
31    273785
32    174309
33    153618
34    244493
35    131261
36    168047
37        43
38     70652
39     87647
40     71857
41    101011
dtype: int64

In [54]:
vaccine["Total(Astra and Moderna)"]=vaccine[["Total Doses Administered (Astra)","Total Doses Administered (Moderna)"]].sum(axis=1)

In [55]:
vaccine

,Region,State,Total population,Total Doses Administered (Astra),Total Doses Administered (Moderna),Total(Astra and Moderna)
0,South East,Abia,3727347,61152,25172,86324
1,North East,Adamawa,4248436,70521,36302,106823
2,South South,Akwa Ibom,5482177,67760,27174,94934
3,South East,Anambra,5527809,62171,13874,76045
4,North East,Bauchi,6537314,98409,43162,141571
5,South South,Bayelsa,2277961,31800,9296,41096
6,North Central,Benue,5741815,107094,60256,167350
7,North East,Borno,5860183,64623,31878,96501
8,South South,Cross Rivets,3866269,99813,51562,151375
9,South South,&&&,3866269,0,51562,51562
10,South South,Delta,5663362,88631,24234,112865
11,South East,Ebonyi,2880383,46696,18564,65260
12,South South,Edo,4235595,76360,59780,136140
13,South West,Ekiti,3270798,108118,47418,155536
14,South West,0,230900,47000,5000,52000
15,South East,Enugu,4411119,69626,9604,79230
16,North Central,FCT,3564126,254088,34846,288934
17,North East,Gombe,3256962,92502,17402,109904
18,South East,)($,0,145,0,145
19,South East,Imo,5408756,63326,15582,78908
20,North West,Jigawa,5828163,80145,44254,124399
21,North West,Kaduna,8252366,180598,43512,224110
22,North West,Kano,15076892,184448,67760,252208
23,North West,Katsina,7831319,110522,45906,156428
24,North West,Kebbi,4440050,62558,30590,93148
25,North Central,Kogi,4473490,45537,16044,61581
26,North Central,0,4567888,7800,44954,52754
27,North Central,Kwara,3192893,115042,44954,159996
28,South West,Lagos,12000598,669996,236222,906218
29,North Central,Nassarawa,2523395,81416,40096,121512
30,North Central,Niger,5556247,95799,46114,141913
31,South West,Ogun,5217716,191969,81816,273785
32,South West,Ondo,4671695,100249,74060,174309
33,South West,Osun,4705589,100684,52934,153618
34,South West,Oyo,7840864,169523,74970,244493
35,North Central,Plateau,4200442,103275,27986,131261
36,South South,Rivers,7303924,121889,46158,168047
37,North Central,0,4567888,43,0,43
38,North West,Sokoto,4998090,52648,18004,70652
39,North East,Taraba,3066834,60613,27034,87647
40,North East,Yobe,3294137,49079,22778,71857
41,North West,Zamfara,4515427,68517,32494,101011